ion-content {
  --overflow: hidden;
}

#textInput {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
}

ion-icon[name="close-circle"] {
  font-size: 45px;
  position: absolute;
  top: 50%;
  right: 58px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all ease-in-out .2s;

  &:hover {
    opacity: .8;
  }
}

.calc-buttons {
  text-align: center;

  ion-col {
    text-align: center;
  }

  .calc-button {
    background-color: #ffa62b;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    transition: all ease-in .2s;

    &:hover {
      background-color: #db6400;
    }
  }
}


.tax-labels {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.text-label {
  color: #e6e6e6;
}